In [1]:
import numpy as np
import pandas as pd
veri = pd.read_csv('diabet.csv')

In [2]:
veri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   6       767 non-null    int64
 1   148     767 non-null    int64
 2   72      767 non-null    int64
 3   35      767 non-null    int64
 4   0       767 non-null    int64
 5   33.6    767 non-null    float64
 6   0.627   767 non-null    float64
 7   50      767 non-null    int64
 8   1       767 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [3]:
veri.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [4]:
veri.columns

Index(['6', '148', '72', '35', '0', '33.6', '0.627', '50', '1'], dtype='object')

In [5]:
veri.columns = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [6]:
veri.head()

   a    b   c   d    e     f      g   h  i
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

# Merkezi Egilim Olculeri

### Ortalama

In [10]:
sum(veri['a'] / len(veri['a']))

3.842242503259458

In [8]:
print(np.mean(veri))

a      3.842243
b    120.859192
c     69.101695
d     20.517601
e     79.903520
f     31.990482
g      0.471674
h     33.219035
i      0.348110
dtype: float64

### Medyan

In [11]:
import statistics

In [13]:
print(statistics.median(veri['a']))

3

In [14]:
print(np.median(veri['a']))

3.0

### Mod

In [15]:
print(statistics.mode(veri['a']))

1

In [19]:
(values, counts) = np.unique(veri['a'], return_counts = True)
ind = np.argmax(counts)
values[ind]

1

# Dagilim Olculeri

### Varyans

In [20]:
print(np.var(veri['a'], ddof = 1))
print(veri['a'].var())

11.362808541637618
11.362808541637618

### Standart Sapma

In [21]:
np.std(veri['a'], ddof = 1)

3.3708765242348493

### Standart Hata

In [22]:
np.std(veri['a'], ddof = 1) / np.sqrt(len(veri['a']))

0.12171529683334906